<h1>Message Detail</h1>

<div class="MsgId">
    <label class="msgDetail">ID</label>
    <span>{{message?.id}}</span><br>
</div>
<div class="MsgDate">
<label class="msgDetail">Date</label>
    <span>{{message?.date | date:'medium' }}</span><br>
</div>
<div class="MsgUsername">
<label class="msgDetail">Username</label>
    <span>{{message?.username}}</span><br>
</div>
<div class="MsgSubject">
    <label class="msgDetail">Subject</label>
    <span>{{message?.subject}}</span><br>
</div>
<div class="MsgBody">
    <label class="msgDetail">Body</label>
    <span>{{message?.body}}</span><br>
</div>