<form>
    <div>
        <span>Username: </span>
        <input #username placeholder="Enter Username Here" type="text">
    </div>
    <div>
        <label >Old Password: </label>
        <input #oldPassword placeholder="Enter Old Password Here" type="password">
    </div>
    <div>
        <label >New Password: </label>
        <input #newPassword placeholder="Enter New Password Here" type="password">
    </div>
    <div>
        <label >New Password Confirmation: </label>
        <input #newPasswordConfirmation placeholder="Enter New Password Confirmation Here" type="password">
    </div>
    <button (click)="ChangePassword()">ChangePassword</button>
</form>